body {
  margin: 0px;
  font-family: "source sans pro";
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #263343;
  align-items: center;
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: white;
}

.navbar_logo i {
  color: antiquewhite;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}
.navbar_menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}
.navbar_icons {
  display: flex;
  color: white;
  list-style: none;
  padding-left: 0;
}
.navbar_icons li {
  padding: 8px 12px;
}
.navbar_icons li:hover {
  background-color: #d49466;
  border-radius: 4px;
}
.navbar_toggleBtn {
  display: none;
  font-size: 24px;
}
@media screen and (max-width: 760px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_icons {
    justify-content: center;
    width: 100%;
  }
  .navbar_toggleBtn {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
